/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
	/* border: 1px solid gray; */
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    margin: 2%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* index CSS */

header{
	display: flex;
	justify-content: space-around;
	
}
nav {
display: flex;
justify-content: space-evenly;
width: 60%;
align-items: center;
}
nav a{
	color: gray;
}

.CTASection{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	font-size: 20px;
	margin: 2%;
}
.CTA{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	font-size: 79px;

}
.content{
	height: 35vh;
	margin: 2%;

}
.midcontent{
    display: flex;
    flex-wrap: wrap;
	height: 40vh;
	font-size: 20px;
    line-height: 1.5;
    width: 100%;
    margin: 2;
}
.contentCard{
    width: 45%;
}
.middle-img{
    width: 90%;
	height: 60%;
	margin: 3%;
}
.centerimg{
    display: flex;
    justify-content: center;

    
}
.botcontent{
		display: flex;
		height: 40vh;
		font-size: 20px;
        line-height: 1.5;
        margin-top: 10%;
        margin: 2%;
        padding: 2%;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	height: 15vh;
	margin: 2%;
}
footer p{
	margin-top: 2%;
}
.copyright{
	display: flex;
	justify-content: center;
	text-align: center;
}

/* services CSS */

.services-header-img{
	width: 100%;
}
.services{
	width: 100%;
	height: 10%;
	margin: 2%;
	display: flex;
	flex-direction: column;
}
.services p{
	height: 100%;
	width: 100%;
	font-size: 20px;
	line-height: 1.5;
}
.center-content{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2%;
	height: 93%;
	width: 100%;
	margin-bottom: 8%;
}
.center-content div{
	
	width: 40%;
	height: 30%;
	margin: 3%;
	padding: 2%;
	background-color: silver;
	line-height: 1.5;
	border: 1px solid black;
}
.servfoot{
	width: 100%;
	height: 55%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 3%;
}
.facts{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 50%;
	height: 50%;
}
ul{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	list-style: square;
	width: 45%;
	margin: 4%;
}
/* index responsive */

@media (max-width: 800px){
    .CTA img{
        display: none;
    
    }
    .botcontent{
        display: flex;
        justify-content: space-around;
        height: 55vh;
        margin-top: 10%;
        
    }
    
}

@media (max-width:500px){
    header{
        flex-direction: column-reverse;
        justify-content: center;
    }
   nav{
        flex-direction: column;
        width: 100%;
        justify-content: center;
   }
   nav a{
       display: flex;
       border-bottom:1px solid grey;
       width: 100%;
       justify-content: space-around;
       margin-top: 3%;
       margin-bottom: 3%;
       padding: 3%;
   }
   .logo{
    width: 40%
  }
  .headerimg{
      display: flex;
      justify-content: center;
      border-bottom:1px solid grey;
      padding: 3%;
  }
  .midcontent{
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-around;
      width: 80%;
      height: 80vh;
      margin: 3%;
      padding: 3%;
  }
  .contentCard{
      width: 100%;

  }
  .botcontent{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 80%;
    height: 95vh;
    margin: 3%;
  }
  footer{
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 80%;
    height: 50vh;
    margin: 3%;
  }
  
}

/* servicesresponsiv */
@media (max-width: 800px){
    header{
        margin-bottom: 5%;
    }
    .services{
        margin-bottom: 13%;
    }
    .center-content div{
        height: 40vh;
    }
    .servfoot{
        margin-top: 50%;
    }
    .facts{
        height: 60vh;
    }
}

@media (max-width: 300px){
    .services{
        margin-bottom: 13%;
    }
    .center-content{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 80%;
        margin-top: 20%;
    }
    .center-content div{
        height: 100vh;
        width: 80%;
    }
    .servfoot{
        margin-top: 50%;
    }
    .facts{
        height: 60vh;
    }
}
}